@import "variables";
@mixin borderradius {
    border-radius: 30px;
}

.sizelogo{
    width: 200px;
    height: 100px;
}
.agente{
    display: flex;
    justify-content: center ;
    }
.coffework{
    object-fit: contain;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
    @include borderradius;
}
article{
    margin-bottom: 5%;
}
.styleidsubtitulo{
color: $textcoloryellow;
}
.ubibtn{
   justify-content: center;
   align-items: center;
}
#buttontn{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
#buttontn:hover{
    color: blanchedalmond;
}
.cuadrogralslide{
@include borderradius;
display: flex;
flex-flow: column wrap;
justify-content: center ;
align-items: center center;
width: 50vw;
height: 70vh;
}
@media (max-width: 480px){
    .sizelogo{
        width: 150px; 
        height: 75px;
        margin-top: 2vh;}

    .agente{
    width: 75vw;
   }
   .media{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .coffework{
    margin-bottom: 15%;
   }
   .cuadrogralslide{
    height: 40vh;
    }
 }