@import "variables";
@mixin borderradius {
    border-radius: 25px;
}

.sizelogo{
    width: 200px; 
    height: 100px;
    }
.titulo{
    color: rgb(144, 12, 63) ;
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    @include borderradius;
    background-color: rgb(218, 247, 166);
}
div h1{
    font-weight: bold;
}
.arttext1{
    color: white;
}
.styleidp1{
    background-color: $backcolorred;
    color: $textcoloryellow ;
    text-align: justify;
    @include borderradius;
    padding: 8px 8px 8px 8px;
    font-style: italic;
}
div h3{
    color: white;
    font-weight: bold;
}
@media (max-width: 480px){
    .body{
        width: 100vw;
        height: 100vh;
    }
    .sizelogo {
        width: 150px; 
        height: 75px;
        margin-top: 2vh;
    }
    .titulo{
        width: 90vw;
        font-size: 20px;
        margin: auto;
    }
    .meetingstyle{
        display: none;
    }
    div h1{
        font-size: 20px;
        padding-top: 5px;
    }
    .styleidp1{
        font-size: 12px;
    }
    div h3{
        font-size: 15px;
    }
}