

.agente{
    display: flex;
    justify-content: center ;
    }
.coffework{
    object-fit: contain;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
}
article{
    margin-bottom: 5%;
}
.ubibtn{
   justify-content: center;
   align-items: center;
}
#buttontn{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
#buttontn:hover{
    color: blanchedalmond;
}
.cuadrogralslide{
border-radius: 25px;
}
.slidesize{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
    height: 70vh;
}
